/* Nav Bar */
.margin{
    height: 8vh;
  }
  .nav-item.mr-2 {
      margin-right: 1.1rem !important;
  }
  
  .nav-item{
      align-self:  center;
  }
  
  .b_conect{
    transition-duration: 0.4s;
    padding: 5px 15px 5px 15px ;
    border-radius : 20px ;
    background-color: white;
    color: white;
    border: none;
    background-image: linear-gradient(to right, #8B5CFB, #5574D9);
  }
  
  .b_conect a{
      color: white;
  }
  
  .b_conect:hover a{
      color: white;
  }
  .b_sign{
        transition-duration: 0.4s;
        padding: 7px 15px 7px 15px ;
        border-radius : 20px ;
        background-color: white;
        color: white;
        border: none;
        background-image: linear-gradient(to right,#188FB1, #5574D9);
  }
  .nav-link{
      display: inline-block;
      position: relative;
  }
  
  .navbar-light .navbar-nav .active > .nav-link{
      color: #8B5CFB;
      font-weight:bold;
      font-size: 107%;
  
  
  }
  .navbar-light .navbar-nav .active > .nav-link::before{
      position: absolute;
      content: '';
      width: 25px;
      height: 3px;
      background: #8B5CFB;
      box-shadow: 2px 2px 10px #8B83FACE;
      margin-left: calc(50% - 24px);
      transform: translateY(30px);
  }
  .titre_a{
    margin: 0vh 1vw 0vh 1vw
  }
  .logo > a > img{
    display: none;
    }
  
  @media only screen and (max-width: 1000px) {
    .nav-item.mr-2 {
      margin-right: 0rem !important;
    }
    .b_conect{
      margin-top: 0.5vh;
    }
    .b_conect_2 {
      margin-bottom: 1vh;
    }
    .navbar-light .navbar-nav .active > .nav-link::before{
      margin-left: calc(50% - 12px);
      transform: translateY(30px);
    }
    .logo > a > img{
      display: block;
      height: 45px;
      z-index: 10;
    }
    .logo{
         margin-right: 50% !important;
    }
    .icon{
      display: none;
    }
    .profil{
      margin-top: -10vh !important;
    }
    .titre_a{
      margin-top: 1.5vh;
    }
  }
  @media only screen and (max-width: 600px) {
     .logo{
         margin-right: 43% !important;
    }
  }