
<%= link_to "Deconnexion", destroy_user_session_path, method: :delete %> <!-- Path à remplacer lorsque mis en ligne ? -->
<h1>Ma ville accessible</h1>
<%= link_to "Faire un signalement", reports_url %>
<footer>
<!-- Mettre des link_to-->

</footer>