<h1 class="mt-5">Villes</h1>



<table class="table container table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Villes</th>
      <th>Signalements</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.name, city %></td>
        <td><%= city.reports.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
