.register-home{
	text-align:center;
}


#map {
	height: 90vh;
	z-index: 0;
}

.card-body > img{
	width:88%;
	align-content: center;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

nav{
	width: 100vw;
}


.new-report{
	position:fixed;
	z-index: 10;
	bottom:5%;
	left:50%;
	transform: translate(-50%, -50%);


}

.btn-custom-blue{
	background-color: grey;
	border-color:grey;
	color:white;
}

.thumbnail{
	height:13rem;
}

