.register-home{
	text-align:center;
}


#map {
	height: 90vh;
	z-index: 0;
}

.card-body > img{
	width:88%;
	align-content: center;
}



.new-report{
	position:fixed;
	z-index: 10;
	bottom:5%;
	left:50%;
	transform: translate(-50%, -50%);


}
.register1{
	position: relative;
	text-align: center;
	padding-top: 1em;
	height: 100%;
	padding-bottom: 20em;
}




.thumbnail{
	height:13rem;
}


.navbar{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important
 }

.icon > a > img{
    height: 60px;
    margin-left: 50%;
    transform: translate(-75%, -50%);
    position: absolute;
    z-index: 10;

}

.g-content{
	margin-top: 8vh;
}

h1{
	text-align: center;
}


