.register-home{
	text-align:center;
}


#map {
	height: 90vh;
	z-index: 0;
}

.card-body > img{
	width:88%;
	align-content: center;
}



.new-report{
	position:fixed;
	z-index: 10;
	bottom:5%;
	left:50%;
	transform: translate(-50%, -50%);


}
.register1{
	background-color: #EEEEEE;
	text-align: center;
	padding-top: 1em;
}




.thumbnail{
	height:13rem;
}


