<h1 class="mt-5 mb-5">Signalements prioritaires</h1>


<div class="row grid no-margin">
	<%= render @reports %>
</div>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var $grid = $('.grid').masonry({
		  itemSelector: '.grid-item'
		});

		$grid.imagesLoaded().progress( function() {
		  $grid.masonry('layout');
		});
	});
</script>

