/* Partie Form de nouveaux */
$purp: #8b5cfb;

@mixin mintablet {
    @media (min-width: 972px) {
        @content;
    }
}

.report__container {
    margin: 0 auto;
    width: 90vw;

    textarea {
        height: 88px;
    }

    @include mintablet {
        width: 65vw;
    }

    .report__title {
        color: $purp;
        font-size: 1.75rem;
        font-weight: bold;
        text-align: center;
        @include mintablet {
            font-size: 3rem;
            text-align: left;
        }
    }

    .report__subtitle {
        padding: 0;
        color: black;
        font-size: 0.875rem;
        text-align: center;
        @include mintablet {
            font-size: 1rem;
            text-align: left;
        }
    }

    .report__form__container {
        margin: 0px 2vw 0px 0.5vw;

        label {
            color: $purp;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"] {
            text-align: left;
        }

        .btn-form {
            padding: 4px 20px;
            margin: 0;
            border-radius: 7px;
            border: solid 1px #5574d9;
            color: #5574d9;
            background-color: transparent;
            font-weight: bold;

            &:hover {
                border: solid 1px #8b5cfb;
                color: #8b5cfb;
            }
            transition: all 0.3s ease-out;
        }

        #alert-localisation {
            margin-top: -24px;
            color: red;

            &:empty {
                margin-top: 0px;
            }
        }
    }
}

#report_picture {
    color: #5574d9;
    &:hover {
        cursor: pointer;
    }
}

.btn__validate__container {
    text-align: center;
    .btn__validate {
        width: 70%;
        padding: 5px 15px;
        margin: 0 auto;

        font-size: 1.15rem;
        font-weight: bold;
        color: white;

        border: none;
        border-radius: 20px;
        background-image: linear-gradient(to right, #8b5cfb, #5574d9);

        &:hover {
            transform: scale(1.02);
        }

        @include mintablet {
            width: 30%;
        }

        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
}

textarea {
    resize: none;
    width: 80px;
}

/* Partie autre */
.macard {
    height: 33vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    padding: 0;
    margin: 0;

    .cardgradientreport {
        background-image: linear-gradient(
            rgba(139, 91, 251, 0.4),
            rgba(85, 116, 217, 0.4),
            rgba(24, 142, 175, 0.4)
        );
        border-radius: 8px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.boutontraitementreport {
    width: 15%;
    margin-left: 0;
    margin-left: 16px;
    margin-top: 16px;
}

.illureport {
    border-radius: 8px;
}

.divpart2report {
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    justify-content: space-between;
}

.contentbascard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divpart3report {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textnbsignalementreport {
    background-color: transparent;
    color: #28ff00;
    font-size: 1.15em;
    font-weight: bold;
}

.textblanc {
    color: #ffffff !important;
}

.signaleparreport {
    font-size: 0.7em;
}

.descreport {
    font-size: 0.85em;
}

.titrereport {
    font-size: 1.2em;
    font-weight: bold;
}

.boutontraitementreport {
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.4em 0;
}

.contentbascard {
    position: absolute;
    bottom: 0;
}

.report-display-container {
    display: flex;
    justify-content: center;

    .report-display-body {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h1 {
            text-align: start;
            font-size: 1.5rem;
            color: #8b5cfb;
            font-weight: bold;
            margin: 16px 0;
        }

        img {
            background-image: linear-gradient(to right, #8b5cfb, #5574d9);
            border-radius: 8px;
            width: 100%;
            height: 33vh;
        }
    }
    
}